<?php

// Connect to Database
$servername = "";
$username = "";
$password = "";
$database = "";

// Frontend

$clock = "24"; // enter "24" for 24-hour format enter "12" for 12-hour format, default="12"
$title = "PokeFinder"; // Title of website
$maplink = ""; // Enter url for your map to show map-button on main page

// Images

// !!! Don't touch stuff below !!!

$assetRepo = "https://raw.githubusercontent.com/whitewillem/PogoAssets/resized/no_border/";
