<?php

// Connect to Database
$servername = ""; // Host/ip of database
$username = "";
$password = "";
$database = "";
$port = ""; // If empty default port will be used

// Frontend

$clock = "12"; // enter "24" for 24-hour format enter "12" for 12-hour format, default="12"
$title = "PokeFinder"; // Title of website
$maplink = ""; // Enter url for your map to show map-button on main page
$seconds = false; // Show seconds for times set to true to show seconds
$socialon = false; // Enable/disable socialicons
$gmaps = ''; // Google Maps API-Key for Reverse Geocoding. Necessary if you want to show addresses for gyms/stops
$mapkey = ''; // Need mapquest.com API-key. Signup @ https://developer.mapquest.com/plan_purchase/steps/business_edition/business_edition_free/register
              // Make key @ https://developer.mapquest.com/user/me/apps
              
$maxpokemon = ''; // Show maximum amount of #mons in pokedex -> $maxpokemon = '150'; shows mons #001 until #150

// Social Icons

$discord = '';
$youtube = '';
$whatsapp = '';
$telegram = '';
$facebook = '';
$twitter = '';
$instagram = '';
$pinterest = '';