<?php

// Connect to Database
$servername = "";
$username = "";
$password = "";
$database = "";

// Frontend

$clock = "12"; // enter "24" for 24-hour format enter "12" for 12-hour format, default="12"
$title = "PokeFinder"; // Title of website
$maplink = ""; // Enter url for your map to show map-button on main page
$seconds = false; // Show seconds for times set to true to show seconds
$socialon = false; // Enable/disable socialicons
$gmaps = ''; // Google Maps API-Key for Reverse Geocoding. Necessary if you want to show addresses for gyms/stops
$mapkey = ''; // Need mapquest.com API-key. Signup @ https://developer.mapquest.com/plan_purchase/steps/business_edition/business_edition_free/register
              // Make key @ https://developer.mapquest.com/user/me/apps
              
$maxpokemon = ''; // Show maximum amount of #mons in pokedex -> $maxpokemon = '150'; shows mons #001 until #150

// Social Icons

$discord = '';
$youtube = '';
$whatsapp = '';
$telegram = '';
$facebook = '';
$twitter = '';
$instagram = '';
$pinterest = '';

// Discord authentication
    $usediscordauth = false; // use discord authentication. False by default

    // Dont forget to add your the location of your disorcauth.php in the Oauth2 section of your application in discord developers!

      // Required for discordauth
      $discordclientid = '12345'; // Make a new application at https://discordapp.com/developers/applications/ and copy the details here
      $discordclientsecret = '12345576'; // copy the client secret
      $discordbottoken = '1325.214421.12'; // Make a new bot and copy the bot-token

    // Redirects for discordauth
      $discordredirecturi = 'http://www.pokefinder.nl/pages/discordauth.php'; // Where discordauth.php is located
      $discordredirect= 'http://www.pokefinder.nl/'; // Where you want your user to be redirected after a successfull authentication

    // For discord role-authentication
      $discordguildid = 123456789; // Your guild/server id. notice, NOT between '';
      $allowedrole = "123456789, 987654321"; // The Id's that are allowed to see the site

// Images

// !!! Don't touch stuff below !!!

$assetRepo = "images/pokemon/";
