div.top {
	float: left;
}

div.bottom {
	float: left;
}

@media only screen and (max-width: 600px) {
	td.stopname {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 25px;
	}
	img {
		width: 28px;
		height: 28px;
	}
    body {
        font-size: 12px;
    }
    
    span.genderhide, span.typehide {
        display:none;
    }
    h3.display-6 {
        font-size:20px;
    }
    
    h1.display-6 {
        font-size:32px;
    }
    
    img.logo {
        width:28px;
        height:28px;
    }
}

@media only screen and (min-width: 600px) {
	.table td,
	.table th {
		white-space: nowrap;
		padding: .75rem;
		vertical-align: middle;
		border-top: 1px solid #dee2e6;
	}
    img.logo {
        width:35px;
        height:35px;
        }    
}

td.stopnamehidden,
th.stopnamehidden {
	display: none;
}

div#page-container {
    padding-bottom:0px;
    padding-top:45px;
}

.nav-link:hover .badge-secondary {
    background-color: #356635;
}

.container-fluid {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-left:0px;
    padding-right:0px;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 25px;
    padding-right:25px;
    border-radius: 0;
    padding-top:30px;
    padding-bottom:0px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0px;
}

.table {
    height:100%;
    padding-bottom:15px;
    margin-bottom:0px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    background-color: #ffffff;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
    padding-bottom: 0px;
}

img.Unknown {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px grey;
}

img.Uncontested {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px grey;
}

img.Mystic {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #45b6fe;
    box-shadow: 1px 1px 1px grey;
}

img.Valor {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FF0000;    
    box-shadow: 1px 1px 1px grey;
}

img.Instinct {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FFD400;    
    box-shadow: 1px 1px 1px grey;
}