div.top {
	float: left;
}

div.bottom {
	float: left;
}

@media only screen and (max-width: 600px) {
	td.stopname {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 25px;
	}
	img {
		width: 28px;
		height: 28px;
	}
    body {
        font-size: 12px;
    }
    
    span.genderhide, span.typehide {
        display:none;
    }
    h3.display-6 {
        font-size:20px;
    }
    
    h1.display-6 {
        font-size:32px;
    }
    
    img.logo {
        width:28px;
        height:28px;
    }
    img.egg  {
        height:28px;
        width: 24px;
        }
        
    img.dexentry {
        height:64px;
        width:64px;
    }

    img.unseen {
        height:64px;
        width:64px;
        opacity:0.4;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    img.dexmon {
        height:64px;
        width:64px;
    }
    
    p.lead {
        font-size:18px;
    }

    img.minimap {
        height: 200px;
        width: 250px;
    }
}

@media only screen and (min-width: 600px) { 
    img.logo {
        width:35px;
        height:35px;
        }
        img.egg  {
            height:42px;
            width: 38px;
            }
    .social {
        display:none;
    }
    
    span#menutitles.text-muted {
    display:none;
}

    img.dexentry {
        height:128px;
        width:128px;
    }
    
    img.unseen {
        height:128px;
        width:128px;
        opacity:0.4;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    img.dexmon {
        height:64px;
        width:64px;
    }
}

td.stopnamehidden,
th.stopnamehidden {
	display: none;
}

.nav-link:hover .badge-secondary {
    background-color: #356635;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0px;
}

.table {
    height:100%;
    padding-bottom:15px;
    margin-bottom:0px;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
    padding-bottom: 0px;
}

img.Unknown {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px grey;
}

img.Uncontested {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px grey;
}

img.Mystic {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #45b6fe;
    box-shadow: 1px 1px 1px grey;
}

img.Valor {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FF0000;    
    box-shadow: 1px 1px 1px grey;
}

img.Instinct {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #FFD400;    
    box-shadow: 1px 1px 1px grey;
}

img.pic {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 1px 1px 1px grey;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    color: black;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #ffffff2e;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.18);
}

div#page-container {
    padding-top:80px;
    padding-bottom:15px;
}

div#dexcol.col:hover {
    background-color: hsla(120, 100%, 50%, 0.3);
    outline: 1px solid black;
    outline-offset: -1px;
}

img.unseen, img.dexentry {
    padding:10px;
}

div#dexcol.col:hover span#entrytext {
    font-weight:bold;
}

div#myTopnav {
    font-family: sans-serif;
}

.dropdown-item:hover{
    background-color: #d0d6dc;
    font-weight:bold;
}

div.dropdown-menu.show{
    box-shadow: 2px 2px 5px 0px #00000054;
}

div#navbarSupportedContent.collapse.navbar-collapse{
    text-shadow: 2px 2px 4px #0000006b;
}

img.stopimg {
max-width:100%;
max-height:100%;
width:10rem;
height:auto;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    vertical-align: middle;
}